@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f1f37;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  justify-content: center;
  /* padding: 0 7%; */
}

.border {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
}
button {
  margin: 1rem 0;
  cursor: pointer;
}

.column {
  display: flex;

  /* flex: 1 1 40rem; */
}

form {
  width: 500px;
  padding: 1rem 1.5rem;
  background: #64748b;
  border-radius: 0.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
}

button,
.input {
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(226 232 240);
  background: transparent;
  color: #fff;
  font-size: 1.4rem;
}
input {
  text-indent: 2rem;
}
input::placeholder {
  color: #ccc;
}

label {
  font-weight: 600;
  line-height: 3rem;
}

.check {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.sign{
  background-color: #FFFF0099;
  font-weight: 600;
  border: none;
}

a {
  color: #ffff00;
}

.alredy {
  text-align: center;
  margin-top: 2rem;
}
.alredy a {
  font-weight: 1.6rem;
  font-weight: 600;
  text-decoration: none;
}
