*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

header{
  display: flex;
  gap: 250px;
  align-items: center;
  margin-bottom: 50px;
}

nav{
  display: flex;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  font-family:sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 10px; 
  padding: 0 40px;
  text-decoration: none;
  color: #222;
}

.content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.title{
  width: 306px;
  height: 120px;
  font-size: 55px;
  font-family: sans-serif;
  color: #333333;
}

.title1{
  width: 376px;
  height: 60px;
  font-size: 55px;
  font-weight: normal;
  font-family: sans-serif;
  color: #333333;
}

.subtitle1{
  width: 304px;
  font-size: 24px;
  font-family: sans-serif;
  margin-top: 100px;
  font-weight: normal;
  color: #333333;
  margin-bottom: 80px;
}

.subtitle{
  width: 434px;
  font-size: 24px;
  font-family: sans-serif;
  margin-top: 100px;
  font-weight: normal;
  color: #333333;
  margin-bottom: 80px;
}

.icons{
  display: flex;
  gap: 30px;
}

.cards__title{
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 40px;
  word-spacing: 10px;
}

.cards .grid__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 1070px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card1{
  border-top: 12px solid #582EFF;
}

.card2{
  border-top: 12px solid #FF814A;
}

.card3{
  border-top: 12px solid #31C5A1;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 0px 10px 0px #B7B7B7;
  width: 288px;
  height: 327px;
  padding: 60px 0;
  gap: 30px;
}

.card img{
  width: 53px;
  height: 60px;
}

.card p{
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  color: #333333;
}

.refer{
  width: 100%;
  height: 400px;
  background-color: #31C5A1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.refer h1{
  width: 540px;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 116.667% */
  margin-bottom: 40px;
}

.footer-wrapper{
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0 ;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 100px;
}

.footer-descr{
  display: flex;
  gap: 130px;
}

.footer-descr p{
  font-family: sans-serif;
  color: #333;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 176.471% */
  text-align: left;
}

.end{
  width: 264px;
}