*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container{
  text-align: center;
  padding: 100px 0;
}

.content1{
  max-width: 1440px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  padding-left: 80px;
  gap: 160px;
  margin-bottom: 130px;
}

.title{
  margin-top: 31px;
  color: var(--basic-text-uchun, #FF8947);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main__title{
  color: #000;
  font-family: Roboto;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  width: 496px;
}

.subtitle{
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-top: 30px;
  width: 503px;
}

.videos{
  position: relative;
  width: 600px;
  overflow: hidden;
}

.img1{
  position: absolute;
  right: 0;
}

.img2{
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.vector{
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  cursor: pointer;
}

.heading{
  color: var(--basic-text-uchun, #FF8947);

  /* basic text  orange */
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
}

.main__heading{
  color: #000;

  /* part-2 basic text black */
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.advantages{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 1280px;
  margin-top: 80px;
  margin-left: 140px;
  padding-left: 80px;

}

.card{
  width: 420px;
  height: 504px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.30);
  padding-top: 80px;
}

.card:hover{
  box-shadow: 0px 0px 80px 0px rgba(128, 128, 128, 0.30);
  cursor: pointer;
}


.advantage{
  color: #000;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 58px;
  user-select: none;
}

.adv_description{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 340px; 
  margin: 0 auto;
  margin-top: 26px;
}

.read_more{
  border: none;
  outline: none;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 45px;
  color: #FF8B37;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}