*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  width: 600px;
  height: 600px;
  box-shadow: 0 -50px 0 red,0 50px 0 green,50px 0 0 blue,-50px 0 0 yellow;
  border-radius: 50%;
  transition: .7s ease-in-out;
}

.box:hover{
  box-shadow: 50px 0 0 red,-50px 0 0 green,0 50px 0 blue,0 -50px 0 yellow;
  cursor: pointer;
}