.shoppingCart{
  padding: 3rem 5rem;
}

.shoppingCart h2{
  font-size: 30px;
  color: #000;
  font-weight: normal;
  font-family: sans-serif;
}

.headers{
  margin-top: 20px;
  display: flex;
  gap: 60px;
}