*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body{
  background: #F2CEDA;
}

.container{
  
  padding-top: 20px;
  margin: 0 auto;
}

header{
  width: 1125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

ul{
  display: flex;
}

ul li{
  list-style: none;
  color: #150101;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 20px;
}

ul li.active,li:hover{
  color: #D23166;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.buy_btn{
  border-radius: 5px;
  background: #D23166; 
  border: none;
  width: 165px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all .4s ease;
}

.buy_btn:hover{
  border-radius: 5px;
  border: 2px solid #D23166;
  background: #FAFAFA;
  color: #000;
}

.content{
  display: flex;
  align-items: center;
  width: 1125px;
  margin: 0 auto;
  margin-top: 100px;
}

.subtitle{
  color: #0F0101;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.4px;
  letter-spacing: 2px;
}

.title{
  color: #0F0101;
  font-size: 57.33px;
  font-style: normal;
  font-weight: 400;
  width: 665px;
  height: 130px;
  margin-bottom: 35px;
}

span{
  color: #D23166;
}

.subheading{
  color: #0F0101;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  width: 523px;
  height: 78px;
  flex-shrink: 0;
  margin-bottom: 50px;
}

.picture{
  position: relative;
  width: 500px;
  height: 500px;
}

.ice-cream{
  position: absolute;
  bottom: 0 ;
  z-index: 1;
}

.milk{
  position: absolute;
  left:-160px;
  top: 10px;
  z-index: 100;
}

.shape{
  width: 350px;
  height: 350px;
  background-color: #EDB5C7;
  z-index: -20;
  position: absolute;
  left: 120px;
  top: 200px;
  border-radius: 50%;
}

.Advantages{
  background-color: #fff;
  width: 100%;
  height: 400px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card{
  width: 250px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #FFF;
  text-align: center ;
  padding: 26px 28px;
}

.service{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.descriptionService{
  width: 198px;
  height: 35px;
  flex-shrink: 0;
  margin-top: 20px;
}

.card:hover{
  border-radius: 7px;
  background: #FFF;
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
  cursor: pointer;
}

.sugar-title{
  width: 349px;
  height: 98.27px;
  flex-shrink: 0;
  color: #150101;
  font-size: 44.2px;
  font-style: normal;
  font-weight: normal;
  line-height: 110.5%; /* 48.841px */
} 

.brown-sugar{
  width: 1125px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 400px;
  padding-top: 200px;
  margin-bottom: 200px;
  position: relative;
}

.sugar-description{
  width: 442px;
  height: 58.16px;
  flex-shrink: 0;
  color: #150101;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 30px;
  margin-bottom: 60px;
}

.left{
  position: absolute;
  left: 0;
}

.brown-sugar img{
  position: absolute;
  right: 0;
}

.our-products{
  width: 100%;
  background-color: #fff;
  height: 1000px;
}

.product-container{
  width: 1125px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.product-title{
  text-align: center;
  color: #150101;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 65px;
}

.sugar-nav ul:nth-child(1){
  padding-left: 100px;
}

.sugar-nav ul li{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}

.sugar-nav ul li.active{
  opacity: 1;
  border-bottom: 3px solid #D64374;;
}

.product{
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

.descr-1 h1{
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.descr-1 p.des{
  width: 454px;
  height: 67px;
  flex-shrink: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 34px;
}

.price{
  display: inline;
  padding-right: 20px;
  width: 71px;
  height: 27px;
  flex-shrink: 0;
  color: #000;
  text-align: right;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

del{
  color: gray;
  opacity: 0.6;
  width: 58px;
  height: 27px;
  flex-shrink: 0;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product .buy_btn{
  margin-top: 34px;
}

.product1{
  padding: 30px 50px;
  height: 500px;
  background-color: #fff;
}

.descr-2{
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  width: 322px;
  height: 53px;
  flex-shrink: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.name{
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.country{
  width: 77px;
  height: 15px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.descr-3{
  width: 322px;
  height: 53px;
  flex-shrink: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.img1{
  width: 35px;
  height: 35px;
}

.images{
  display: flex;
  margin-top: 80px;
  align-items: center;
  gap: 30px;
}

.product-phone{
  padding: 100px;
  background-color: #FFD8F0;
  gap: 200px;
}

.product-phone h1{
  width: 621px;
  color: #000;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product-phone .des{
  color: #0F0101;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  width: 607px;
  height: 60px;
  flex-shrink: 0;
}

.phone-ul{
  display: block;
}

.phone-ul li{
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: auto;
}

.text{
  display: inline;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}